@media screen  and (max-width: 1089px)  {
    .product {
    color: black;
    background-color: #5C99C5;
    padding-left: 1vw;
    margin-left: 4vw;
    height: 26vh;
    border: 1px solid black;
    margin-bottom: 5vh;
}
    .mini_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: #1D5B8A;
}
    .total {
    color: black;
    color: black;
    background-color: #5C99C5;
    padding-left: 1vw;
    margin-left: 4vw;
    height: 14vh;
    width: 50vw;
    border: 1px solid black;
    margin-bottom: 5vh;
    margin-left: 20vw;
}
    
    .text_delete {
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    
    grid-row-start: 2;
    grid-row-end: 3;
    
    margin-right: 2vw;
    font-size: 1.1em;
}
    .text_price {
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    
    grid-row-start: 1;
    grid-row-end: 2;
    
    margin: 10px;
    margin-left: 2vw;
    font-size: 1.2em;
}
    
    img {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
        max-height: 20vh;
    margin-top: 2vh;
    margin-right: 2vh;
}
}

@media screen  and (min-width: 1090px)  {
    
    .text_delete {
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    
    grid-row-start: 2;
    grid-row-end: 3;
    
    margin-right: 2vw;
    font-size: 1.4em;
}
    
    .product {
    color: black;
    background-color: #5C99C5;
    padding-left: 1vw;
    margin-left: 4vw;
    height: 26vh;
    width: 40vw;
    border: 1px solid black;
    margin-bottom: 5vh;
}
    
    .mini_content {
    display: grid;
    width: 40vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 4vw;
    padding-right: 1.1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: #1D5B8A;
}
    .total {
    color: black;
    color: black;
    background-color: #5C99C5;
    padding-left: 1vw;
    margin-left: 4vw;
    height: 14vh;
    width: 17vw;
    border: 1px solid black;
    margin-bottom: 5vh;
    margin-left: 27vw;
}
    
    .text_price {
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    
    grid-row-start: 1;
    grid-row-end: 2;
    
    margin: 10px;
    margin-left: 2vw;
    font-size: 1.7em;
}
    
    img {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
    width: 10vw;
    height: 19vh;
    margin-top: 2vh;
    margin-right: 2vh;
}
    
}


.product_content {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}



.text_title {
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2vh;
}

.text_desciption {
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 7vh;
}





.name {
    margin-left: 2vw;
}

.mini_content {
    display: grid;
    width: 40vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 4vw;
    padding-right: 1.1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: #1D5B8A;
}

.mini {
    color: black;
}

.operand {
    height: 3vh;
    width: 1.5vw;
    text-align: center;
}

.list_products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(22;1fr);
}



.total_cont {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.checkout{
    color: black;
    border: 1px solid black;
    margin: 5px;
    width: 60%;
    
}
