.conpravo {
    grid-area: conpravo;
    font-size: .8em;
    /* Для основноого контента (изображения) */
    padding-right: 10px;
    align-content: space-between;
     display: grid;
        grid-template-rows: 7vh 11fr;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "imi2 imi2"
                            ". slider";

}

.slider{
        grid-area: slider;

}

#slider-wrap {
    z-index: 0;
}

#slider {
    height: 70vh;
    overflow: hidden;
    position: relative;
}

#slider img {

}

.slide {
    width: 100%;
    height: 100%;
}

.sli-links {
    border-color: black;
    text-align: center;
}

.sli-links .control-slide {
            background-color: black;

    margin: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.sli-links .control-slide:hover {
            background-color: gainsboro;

    cursor: pointer;
    background-position: center center;
}

.sli-links .control-slide.active {
    background-position: center top;
}



