.conpravo {
    grid-area: conpravo;
    font-size: .8em;
    /* Для основноого контента (изображения) */
    padding-right: 10px;
    align-content: space-between;
     display: grid;
        grid-template-rows: 7vh auto;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "imi2 imi2"
                            "colum products";

}

.colum{
        top: 1vh ;
    margin-top: 1vh;
  position: sticky;
    grid-area: colum;
    background-color: #1D5B8A;
    min-height: 77vh;  
    max-height: 77vh;
overflow: auto;
   margin-bottom: 1vh;
}


.colum::-webkit-scrollbar {
  width: 1vw;;
  background-color: #f9f9fd;
}

.colum::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0B304D;
}

.colum::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}


.column p{
    color: black;
}

.products{
        grid-area: products;
color: black;
    justify-content: space-around;
align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product{
    padding: 0.5vh;
    background-color: #1D5B8A;
    margin: 1vh;
    min-width: 22vh;
    max-width: 22vh;
    max-height: 30vh;
    min-height: 30vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
}



.product button[type="submit"]{
    border: 0.1px solid #0B304D;
padding:2px;
background:none;
cursor:pointer;
    color: white;
}


.b input[type="submit"]{
    border: 0.1px solid white;
padding:2px;
background:none;
cursor:pointer;
    color: white;
}

.product{
    
}

.cart{
    overflow: hidden;
}

.cart img{
height: auto;
width: 100%;

}







