div {
    color: black;
}
.title_orders {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1vh 0vh 1vh 4vw;
    margin-right: 11.44vw;
    margin-left: 4vw;
    margin-bottom: 1vw;
    color: black;
    background-color: #AFCBE3;
    border: 1px solid black;
}

.title_orders_second {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 2vh 0vh 2vh 4vw;
    margin-right: 11.44vw;
    margin-left: 4vw;
    color: black;
    background-color: #AFCBE3;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.list_products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(22;1fr);
}

.product {
    color: black;
    background-color: #5C99C5;
    padding-left: 1vw;
    margin-left: 4vw;
    height: 26vh;
    width: 42vw;
    border: 1px solid black;
    margin-bottom: 5vh;
}

.product_content {
    display: grid;
    grid-template-columns: 80fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

img {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
    width: 3vw;
    height: 3vw;
    margin-top: 2vh;
    margin-right: 2vh;
}

.text_title {
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2vh;
}

.text_desciption {
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 5vh;
}

.text_price {
    color: black;
    grid-column-end: 5;
    
    grid-row-start: 1;
    grid-row-end: 2;
    
    margin: 10px;
    margin-left: 2vw;
    font-size: 1.9em;
}

.text_delete {
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    
    grid-row-start: 2;
    grid-row-end: 3;
    
    margin: 10px;
    margin-left: 2vw;
    font-size: 1.4em;
}

.name {
    margin-left: 2vw;
}

.status_container {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw;
}

.status {
    width: 8vw;
    height: 5vh;
    background-color: #AFCBE3;  
    font-size: 0.7em;
    text-align: center;
    border: 1px solid black;
}

.products_in_order {
    display: grid;
    grid-template-columns: 1fr;
    grid grid-template-rows: repeat(20,1fr); 
    overflow: auto;
    height: 24vh;
}

.descript_product_in_order {
    display: grid;
    grid-template-columns: 1fr ;
    grid grid-template-rows: 1fr; 
}